.homeScreen{

    .row{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .item{
            flex: 25%;
        }
    }
}